body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .navbar {
    background-color: #1e1e1e !important;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark-mode .table {
    color: #ffffff;
    --bs-table-hover-color: #ffffff;
    --bs-table-hover-bg: rgba(255, 255, 255, 0.075);
}

body.dark-mode .table-light {
    --bs-table-color: #ffffff;
    --bs-table-bg: #343a40;
    --bs-table-border-color: #454d55;
    color: #ffffff;
}

body.dark-mode .table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: rgba(255, 255, 255, 0.05);
    color: #ffffff;
}

body.dark-mode .modal-content {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode-toggle {
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
} 